*/babel/*.json
.idea
*__pycache__*
*.egg-info
outputs/*
rendered_images/*
*tmp*
results/*
.DS_Store
**/.DS_Store

output/
tutorial_7_output/
protomotions-k1.tar
protomotions-k1.sif
protomotions-k1-app.tar.gz